/* ######################################### */
/* Builder - Header */
/* ######################################### */

/* Trennlinie zwischen Header und Hauptbereich */
.header-borderpane {
    -fx-border-color : black;
    -fx-border-width : 0 0 1 0;
}
/* Bicycle Icon im Header */
.header-icon-bicycle {
    -fx-fill: black;
}
/* Titel im Header */
.header-title {
    -fx-text-fill: black;
}
/* Funktions-Buttons rechts im Header */
.header-icon-home, .header-icon-admin, .header-icon-profile, .header-icon-logout {
    -fx-fill: black;
}

.header-icon-home:hover, .header-icon-admin:hover, .header-icon-profile:hover, .header-icon-logout:hover {
    /* -fx-effect: dropshadow(blurType, color, radius, spread, offsetX, offsetY); */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.4, 0.0, 0.0);
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

/* ######################################### */
/* Builder - Main */
/* ######################################### */

/* Hintergrund im Hauptbereich */
.container-main-center {
    //-fx-background-color: white;
}

/* Hintergrund im Footer & Trennlinie */
.container-main-bottom {
    //-fx-background-color: white;
    -fx-border-color : black;
    -fx-border-width : 1 0 0 0;
}

/* Design der Kategorie-Buttons im Footer */
.btn-toggle-cats {
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 1px;
    -fx-border-color : #2286c3; /* material palette - blue 300 primary dark */
    -fx-border-radius: 5px;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: #2286c3; /* material palette - blue 300 primary dark */
    -jfx-untoggle-color: #42a5f5; /* material palette - blue 400 primary */
}

.btn-toggle-cats:selected {
    -fx-border-color : #6ff9ff; /* material palette - cyan 400 primary light */
}

.btn-toggle-cats:hover {
    -fx-border-color : #ffa726; /* material palette - orange 400 primary */
}

/* Trennlinie links von den Kundendaten im Footer */
.spCustomerData {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}

/* Error-Message des Validators */
.error-label {
    -fx-text-fill: #ba000d; /* material palette - red 500 primary dark */
    -fx-font-size: 10px;
    -fx-padding: 0 0 0 5px;
}

/* ######################################### */
/* Builder - Sidebar */
/* ######################################### */

/* Trennlinie der Sidebar */
.container-sidebar {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}
/* Schliessen Button in allen Sidebar-Container */
.sidebar-icon-close {
    -fx-fill: #ef5350; /* material palette - red 400 primary */
}

.sidebar-icon-close:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
/* Titel in allen Sidebar-Container */
.label-cat-title {
    -fx-text-fill: black;
}
/* Speichern Button in allen Sidebar-Container */
.btn-sidebar-save {
    -fx-text-fill: white;
    -fx-background-color: #2196f3; /* material palette - blue 500 primary */
}

.btn-sidebar-save:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 0.5), 5, 0.4, 0.0, 0.0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

/* ######################################### */
/* Builder - Sidebar Kategorien Allgemein */
/* ######################################### */

.btn-toggle-cat1Color1,
.btn-toggle-cat1Color2,
.btn-toggle-cat1Color3,
.btn-toggle-cat2Color1,
.btn-toggle-cat2Color2,
.btn-toggle-cat2Color3,
.btn-toggle-cat3Color1,
.btn-toggle-cat3Color2,
.btn-toggle-cat3Color3,
.btn-toggle-cat4Color1,
.btn-toggle-cat4Color2,
.btn-toggle-cat4Color3 {
    -fx-background-radius: 50%;
    -fx-background-insets: 1px;
    -fx-border-color : black;
    -fx-border-radius: 50%;
    -fx-border-width : 1 1 1 1;
}

.btn-toggle-cat1Color1:selected,
.btn-toggle-cat1Color2:selected,
.btn-toggle-cat1Color3:selected,
.btn-toggle-cat2Color1:selected,
.btn-toggle-cat2Color2:selected,
.btn-toggle-cat2Color3:selected,
.btn-toggle-cat3Color1:selected,
.btn-toggle-cat3Color2:selected,
.btn-toggle-cat3Color3:selected,
.btn-toggle-cat4Color1:selected,
.btn-toggle-cat4Color2:selected,
.btn-toggle-cat4Color3:selected {
    -fx-border-color : #76ff03; /* material palette - light green 400 A primary */
    -fx-effect: dropshadow(gaussian, rgba(118, 255, 3, .5), 5, 0.4, 0.0, 0.0); /* material palette - light green 400 A primary */
}

.btn-toggle-cat1Color1:hover,
.btn-toggle-cat1Color2:hover,
.btn-toggle-cat1Color3:hover,
.btn-toggle-cat2Color1:hover,
.btn-toggle-cat2Color2:hover,
.btn-toggle-cat2Color3:hover,
.btn-toggle-cat3Color1:hover,
.btn-toggle-cat3Color2:hover,
.btn-toggle-cat3Color3:hover,
.btn-toggle-cat4Color1:hover,
.btn-toggle-cat4Color2:hover,
.btn-toggle-cat4Color3:hover {
    -fx-border-color : #ffa726; /* material palette - orange 400 primary */
}

.btn-toggle-cats-radioText {
    -fx-background-radius: 5px;
    -fx-background-insets: 1px;
    -fx-border-color : black;
    -fx-border-radius: 5px;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: transparent;
    -jfx-untoggle-color: transparent;
}

.btn-toggle-cats-radioText:selected {
    -fx-border-color : #76ff03; /* material palette - light green 400 A primary */
    -fx-effect: dropshadow(gaussian, rgba(118, 255, 3, .5), 5, 0.4, 0.0, 0.0); /* material palette - light green 400 A primary */
}

.btn-toggle-cats-radioText:hover {
    -fx-border-color : #ffa726; /* material palette - orange 400 primary */
}

/* ######################################### */
/* Builder - Sidebar Kategorie 1 - Rahmen */
/* ######################################### */

.btn-toggle-cat1Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat1Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat1Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie 2 - Lenker */
/* ######################################### */

.btn-toggle-cat2Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat2Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat2Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie 3 - Räder */
/* ######################################### */

.btn-toggle-cat3Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat3Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat3Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie 4 - Sattel */
/* ######################################### */

.btn-toggle-cat4Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat4Color2 {
    -jfx-toggle-color: rgba(75, 44, 32, 1); /* material palette - brown 500 primary dark */
    -jfx-untoggle-color: rgba(75, 44, 32, 0.9);
}

.btn-toggle-cat4Color3 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}



