/* ###################################################################### */
/* Builder.css */
/* Design by Karina Szemplinska */
/* TH-Brandenburg Semesterprojekt Pattern & Frameworks Winter 2022/2023 */
/* ###################################################################### */


/** Root-Schriftgrösse **/
.apane-builder {
    -fx-font-size: 14px !important;
    -fx-text-fill: black !important;
}


/** Header **/
.header-borderpane {
    -fx-background-color: #ffffff;
    -fx-border-width: 10px 0px 0px 0px !important;
    -fx-border-color: #7a7cff !important;
}

.header-icon-bicycle {
    -fx-font-size: 85px !important;
    -fx-fill: black;
}

.header-icon-home,
.header-icon-logout {
    -fx-fill: #ff8f00 !important;
    -fx-focus-traversable: false !important;
}

.header-title {
    -fx-text-fill: black;
}

.header-icon-home,
.header-icon-admin,
.header-icon-profile,
.header-icon-logout {
    -fx-fill: black;
}

.header-icon-home:hover,
.header-icon-admin:hover,
.header-icon-profile:hover,
.header-icon-logout:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}


/** Hintergrund im Hauptbereich **/
.container-main-center {
    -fx-background-color: white;
}


/** Hintergrund Fahrrad SVG **/
.spaneSVGleft {
    -fx-background-color: #e6e6e6;
}


/** Schwarze Borders **/
.header-borderpane {
    -fx-border-color : black;
    -fx-border-width : 0 0 1 0;
}

.container-sidebar {
    -fx-border-color: black;
    -fx-border-width: 1 0 0 0;
}

.bpaneSVGright {
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1;
}

.svg-container-techinfo-header {
    -fx-border-color: black;
    -fx-border-width: 0 1 1 0;
}

.svg-container-techinfo-textarea {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-border-color : black;
    -fx-border-width : 0 1 0 0;
}

.container-main-center {
    -fx-border-color : black;
    -fx-border-width : 1 0 0 0;
}

.container-main-bottom {
    -fx-border-color : black;
    -fx-border-width : 1 1 0 0;
}
/*
.spCustomerData {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}
*/

/** Technische Daten **/
.svg-container-techinfo-header {
    -fx-background-color: #7b7cff;
}

.title-techinfo {
    -fx-font-weight: bold;
}


/** Buttons Standard (Kategorien, Kundendaten, Auftrag, Rechnung) **/
.btn-standard-comp {
    -fx-text-fill: white;
    -fx-min-width: 64px;
    -fx-min-height: 36px;
    -fx-max-height: 36px;
    -fx-padding: 0px 10px 0px 10px;
    -fx-background-color: #ff8f00;
    -fx-background-radius: 50px;
    /*neu karre*/-fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-focus-traversable: false !important;
}

.btn-standard-comp:hover,
.btn-large-comp:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

.btn-toggle-cats {
    -fx-text-fill: #ff8f00;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-background-radius: 50%;
    -fx-background-insets: 1px;
    -fx-border-color: #ff8f00;
    -fx-border-radius: 50px;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: white;
    -jfx-untoggle-color: white;
    -fx-focus-traversable: false;
}

.btn-toggle-cats:selected {
    -fx-text-fill: #304fff;
    -fx-border-color : #304fff;;
}

.btn-toggle-cats:hover {
    -fx-border-color : #304fff;
    -fx-text-fill: #304fff;
}

.btn-toggle-cats:selected:hover {
    -fx-text-fill: #304fff;
}


/** Sidebar Kategorien **/
.label-cat-title {
    -fx-text-fill: black;
}

.sidebar-icon-close {
    -fx-fill: #ff8f00 !important;
    -fx-focus-traversable: false !important;
}

.sidebar-icon-close:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor: hand;
}

.combo-box {
    -fx-pref-width: 280px;
    -fx-pref-height: 48px;
    -fx-padding: 16px 16px 0px 12px;
    -jfx-focus-color: #304ffe;
    -jfx-unfocus-color: #304ffe;
}

.combo-box .list-cell {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.combo-box:hover,
.combo-box-popup .list-view:hover {
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: #304ffe;
    -fx-background-color: none;
}

.btn-toggle-cat1Color1,
.btn-toggle-cat1Color2,
.btn-toggle-cat1Color3,
.btn-toggle-cat2Color1,
.btn-toggle-cat2Color2,
.btn-toggle-cat2Color3,
.btn-toggle-cat3Color1,
.btn-toggle-cat3Color2,
.btn-toggle-cat3Color3,
.btn-toggle-cat4Color1,
.btn-toggle-cat4Color2,
.btn-toggle-cat4Color3 {
    -fx-background-radius: 50%;
    -fx-background-insets: 2px;
    -fx-border-color : black;
    -fx-border-radius: 50%;
    -fx-border-width : 1 1 1 1;
}

.btn-toggle-cat1Color1:selected,
.btn-toggle-cat1Color2:selected,
.btn-toggle-cat1Color3:selected,
.btn-toggle-cat2Color1:selected,
.btn-toggle-cat2Color2:selected,
.btn-toggle-cat2Color3:selected,
.btn-toggle-cat3Color1:selected,
.btn-toggle-cat3Color2:selected,
.btn-toggle-cat3Color3:selected,
.btn-toggle-cat4Color1:selected,
.btn-toggle-cat4Color2:selected,
.btn-toggle-cat4Color3:selected {
    -fx-background-radius: 50%;
    -fx-background-insets: 2px;
    -fx-border-color : #304ffe;
    -fx-border-radius: 50%;
    -fx-border-width : 2 2 2 2;
}

.btn-toggle-cat1Color1:hover,
.btn-toggle-cat1Color2:hover,
.btn-toggle-cat1Color3:hover,
.btn-toggle-cat2Color1:hover,
.btn-toggle-cat2Color2:hover,
.btn-toggle-cat2Color3:hover,
.btn-toggle-cat3Color1:hover,
.btn-toggle-cat3Color2:hover,
.btn-toggle-cat3Color3:hover,
.btn-toggle-cat4Color1:hover,
.btn-toggle-cat4Color2:hover,
.btn-toggle-cat4Color3:hover {
    -fx-background-radius: 50%;
    -fx-background-insets: 2px;
    -fx-border-color : #304ffe;
    -fx-border-radius: 50%;
    -fx-border-width : 2 2 2 2;
    -fx-cursor: hand;
}

/* Builder - Sidebar Kategorie 1 - Rahmen */
.btn-toggle-cat1Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat1Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat1Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* Builder - Sidebar Kategorie 2 - Lenker */
.btn-toggle-cat2Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat2Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat2Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* Builder - Sidebar Kategorie 3 - Räder */
.btn-toggle-cat3Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat3Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat3Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* Builder - Sidebar Kategorie 4 - Sattel */
.btn-toggle-cat4Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat4Color2 {
    -jfx-toggle-color: rgba(75, 44, 32, 1); /* material palette - brown 500 primary dark */
    -jfx-untoggle-color: rgba(75, 44, 32, 0.9);
}

.btn-toggle-cat4Color3 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cats-radioText {
    -fx-background-radius: 2px;
    -fx-background-insets: 3px;
    -fx-border-color : black;
    -fx-border-radius: 2px;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: transparent;
    -jfx-untoggle-color: transparent;
}

.btn-toggle-cats-radioText:selected,
.btn-toggle-cats-radioText:hover {
    -fx-border-color : #304ffe;
    -fx-text-fill: #304ffe;
    -fx-border-width : 2 2 2 2; /* AR: DO NOT! increase width more than 2, toggle text M disappears on loaded configs(ugly linux bug) */
    -fx-cursor: hand;
}

.aufpreis {
    fx-label-padding: 0 0 30px 0;
    fx-padding: 0 0 30px 0;
}


/** Bottombar Kundendaten **/
.sidebar-icon-close-kunden {
    -fx-fill: #ff8f00 !important;
    -fx-focus-traversable: false !important;
    -fx-cursor: hand;
}

.sidebar-icon-close-kunden:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.jfx-text-field {
    -jfx-focus-color: #304fff;
    -jfx-unfocus-color: black;
    -fx-text-fill: black;
    -fx-pref-height: 48px;
    -fx-padding: 26px 16px 2px 12px;
}


/** Input-Felder Validierung fehlerhafte Eingabe (Kundendaten) **/
.error-label {
    -fx-text-fill: red;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 0px 5px;
    -fx-pref-height: 16px;
}

.jfx-text-field:error {
    -jfx-focus-color: #304fff;
    -jfx-unfocus-color: red;
    -fx-pref-height: 48px;
}

.jfx-text-field .error-label {
    -fx-text-fill: red;
}


/** Sidebar Kundendaten (Auftrag abgeschlossen) **/
.FinalCellLeftBlue {
    -fx-text-fill: #304fff;
    -fx-font-weight: bold;
}

.catSidebarFinalCellRight {
    -fx-border-width: 0 0 0 1;
    -fx-background-color: #f2f2f2;
}

.catSidebarFinalCellLeft {
    -fx-background-color: none;
}
