/** KARRE BEGINN**/

/** Root-Schriftgrösse **/
.apane-builder {
    -fx-font-size: 14px !important;
}

.spaneSVGleft {
    -fx-background-color: #e6e6e6 !important;
}
/** Trennlinie zwischen Header und Hauptbereich **/
.header-borderpane {
    -fx-background-color: #ffffff;
    -fx-border-width: 10px 0px 0px 0px !important;
    -fx-border-color: #7a7cff !important;
}
/* Trennlinie der Sidebar */
.container-sidebar {
    -fx-border-color: #7b7cff !important;
    -fx-border-width: 1 0 0 0 !important;
}
.bpaneSVGright {
    -fx-border-color: #7b7cff !important;
    -fx-border-width: 0 0 0 1 !important;
}
.svg-container-techinfo-header {
    -fx-border-color: #7b7cff !important;
    -fx-border-width: 0 1 1 0 !important;
    -fx-background-color: #7b7cff !important;
}
.title-techinfo {
    -fx-text-fill: white !important;
    -fx-font-weight: bold !important;
}
.svg-container-techinfo-textarea {
    -fx-border-color : #7b7cff !important;
    -fx-border-width : 0 1 0 0 !important;

}
.container-main-center {
    -fx-border-color : #7b7cff !important;
    -fx-border-width : 1 0 0 0 !important;
}
/* Hintergrund im Footer & Trennlinie */
.container-main-bottom {
    /**-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, rgba(48, 79, 254, 0.1), rgba(255, 143, 0, 0.3)) !important;
    **/-fx-border-color : #7b7cff !important;
    -fx-border-width : 1 1 0 0 !important;
}

.header-icon-bicycle {
    -fx-font-size: 85px !important;
    -fx-fill: #000000/***#304fff***/ !important;
}

/* Anzeige abgeschlossener Kundendaten in Sidebar */
.catSidebarFinalCellLeft {
    -fx-font-weight: bold !important;
}
.FinalCellLeftBlue {
    -fx-text-fill: #304fff;
}
.catSidebarFinalCellRight {
    -fx-border-width: 0 0 0 1 !important;
    -fx-background-color: #f2f2f2;
}
/** Titel für Unteransichten
.subpane-title {
    -fx-text-fill: #304fff !important;
} **/
/* Button Design des Login-Fensters */
.btn-standard-comp {
    -fx-text-fill: white;
    /*neu karre*/-fx-min-width: 64px !important;
    /*neu karre*/-fx-min-height: 36px !important;
    /*neu karre*/-fx-max-height: 36px !important;
    /*neu karre*/-fx-padding: 0px 16px 0px 16px;
    -fx-background-color: #ff8f00 !important;/*#2196f3;*/ /* material palette - blue 500 primary */
    -fx-background-radius: 50px;
    /*neu karre*/-fx-cursor: hand;
}
.aufpreis {
    fx-label-padding: 0 0 30px 0 !important;
    fx-padding: 0 0 30px 0 !important;
    fx-label-margin: 0 0 30px 0 !important;
    fx-margin: 0 0 30px 0 !important;
}

.btn-standard-comp:hover,
.btn-large-comp:hover {
    /***-fx-effect: dropshadow(three-pass-box, rgba(255,143,0,1), 5, 0.4, 0.0, 0.0) !important;***//*dropshadow(three-pass-box, rgba(33, 150, 243, 0.5), 5, 0.4, 0.0, 0.0);*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}
/***
.btn-large-comp {
    -fx-text-fill: white;***/
/*neu karre-fx-min-width: 64px !important;*/
/*neu karre-fx-min-height: 36px !important;*/
/*neu karre-fx-max-height: 36px !important;*/
/**neu karre-fx-padding: 0px 12px 0px 16px;
-fx-background-color: #ff8f00 !important; **//*#2196f3;*/ /* material palette - blue 500 primary */
/**-fx-background-radius: 50px;
}
**/

.sidebar-icon-close {
    -fx-fill: #ff8f00 !important;
    -fx-padding: 0 0 0 30px !important;

}
.sidebar-icon-close-kunden {
    -fx-fill: #ff8f00 !important;
    -fx-padding: 0 0 0 30px !important;
}
.sidebar-icon-close-kunden {
    -fx-cursor: hand;
}
.combo-box {
    /*    -jfx-focus-text-fill: blue;*/
    /****-fx-pref-width: 200px;****//***280px;***/
    -fx-pref-width: 280px !important;
    -fx-pref-height: 48px;
    /*neu karre*/-fx-padding: 26px 16px 2px 12px;
    -jfx-focus-color: #304ffe;
    -jfx-unfocus-color: black;
}

.combo-box .list-cell {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.combo-box:selected {
    -jfx-focus-color: #304fff/***#ff8f00***/;
    -jfx-unfocus-color: black;
    /*    -jfx-focus-text-fill: blue;*/
    /****-fx-pref-width: 200px;****//***280px;***/
    -fx-pref-width: 280px !important;
    -fx-pref-height: 48px !important;
}

.combo-box:hover {
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #304ffe;
    -fx-text-fill: white !important;
}
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #304ffe;
    -fx-text-fill: white !important;
}
.btn-toggle-cat1Color1,
.btn-toggle-cat1Color2,
.btn-toggle-cat1Color3,
.btn-toggle-cat2Color1,
.btn-toggle-cat2Color2,
.btn-toggle-cat2Color3,
.btn-toggle-cat3Color1,
.btn-toggle-cat3Color2,
.btn-toggle-cat3Color3,
.btn-toggle-cat4Color1,
.btn-toggle-cat4Color2,
.btn-toggle-cat4Color3 {
    -fx-background-radius: 50% !important;
    -fx-background-insets: 3px !important;
    -fx-border-color : black !important;
    -fx-border-radius: 50% !important;
    -fx-border-width : 1 1 1 1 !important;
}

.btn-toggle-cat1Color1:selected,
.btn-toggle-cat1Color2:selected,
.btn-toggle-cat1Color3:selected,
.btn-toggle-cat2Color1:selected,
.btn-toggle-cat2Color2:selected,
.btn-toggle-cat2Color3:selected,
.btn-toggle-cat3Color1:selected,
.btn-toggle-cat3Color2:selected,
.btn-toggle-cat3Color3:selected,
.btn-toggle-cat4Color1:selected,
.btn-toggle-cat4Color2:selected,
.btn-toggle-cat4Color3:selected {
    -fx-background-radius: 50% !important;
    -fx-background-insets: 3px !important;
    -fx-border-color : #304ffe !important;
    -fx-border-radius: 50% !important;
    -fx-border-width : 3 3 3 3 !important;
    /**auskommentiert durch karre -fx-effect: dropshadow(gaussian, rgba(118, 255, 3, .5), 5, 0.4, 0.0, 0.0);**/ /* material palette - light green 400 A primary */
}

.btn-toggle-cat1Color1:hover,
.btn-toggle-cat1Color2:hover,
.btn-toggle-cat1Color3:hover,
.btn-toggle-cat2Color1:hover,
.btn-toggle-cat2Color2:hover,
.btn-toggle-cat2Color3:hover,
.btn-toggle-cat3Color1:hover,
.btn-toggle-cat3Color2:hover,
.btn-toggle-cat3Color3:hover,
.btn-toggle-cat4Color1:hover,
.btn-toggle-cat4Color2:hover,
.btn-toggle-cat4Color3:hover {
    -fx-background-radius: 50% !important;
    -fx-background-insets: 3px !important;
    -fx-border-color : #304ffe !important;
    -fx-border-radius: 50% !important;
    -fx-border-width : 3 3 3 3 !important;
    -fx-cursor: hand;
}
.btn-toggle-cats-radioText {
    -fx-background-radius: 2px !important;
    -fx-background-insets: 3px !important;
    -fx-border-color : black;
    -fx-border-radius: 2px !important;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: transparent;
    -jfx-untoggle-color: transparent;
}

.btn-toggle-cats-radioText:selected,
.btn-toggle-cats-radioText:hover{
    -fx-border-color : #304ffe !important;
    -fx-text-fill: #304ffe !important;
    -fx-border-width : 3 3 3 3 !important;
    -fx-cursor: hand;
}

/* Input-Felder Benutzer und PW*/
.jfx-text-field {
    -jfx-focus-color: #304fff/***#ff8f00***/;
    -jfx-unfocus-color: black;
    -fx-text-fill: black;
    /***-jfx-focus-text-fill: #304fff !important;***/
    /****-fx-pref-width: 200px;****//***280px;***/
    -fx-pref-height: 48px;
    /*neu karre*/-fx-padding: 26px 16px 2px 12px;
}


/* Error-Message des Validators */
.error-label {
    -fx-text-fill: red !important; /**entfernt durch karre #ba000d;**/ /* material palette - red 500 primary dark */
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 0px 5px;
    -fx-pref-height: 16px;

}

.jfx-text-field:error {
    -jfx-focus-color: #304fff/***#ff8f00***/;
    -jfx-unfocus-color: red;
    -fx-pref-height: 48px;
}
.jfx-text-field .error-label {
    -fx-text-fill: red;
}

.header-icon-home, .header-icon-logout {
    -fx-fill: #ff8f00 !important;
}
.header-icon-logout {
    -fx-padding: 0 30px 0 0 !important;
}
.header-icon-home {
    -fx-padding: 0 20px 0 0;
    -fx-background-color: none !important;
    -fx-background-insets: 0.0 !important;
    /***PRÜFEN***/
}

/* Design der Kategorie-Buttons im Footer */

.btn-toggle-cats
    /*.jfx-toggle-node*/ {
    -fx-text-fill: #ff8f00 !important;
    -fx-padding: 5px !important;
    -fx-font-weight: bold !important;
    -fx-background-radius: 50% !important;
    -fx-background-insets: 3px !important;
    -fx-border-color: #ff8f00 !important;
    -fx-border-radius: 50px !important;
    -fx-border-width : 3 3 3 3 !important;
    -jfx-toggle-color: #304fff !important;
    -jfx-untoggle-color: white !important;

}

.btn-toggle-cats:selected {
    -fx-text-fill: white !important;
    -fx-border-color : #304fff !important;
    -fx-border-width : 3 3 3 3 !important;
}

.btn-toggle-cats:hover {
    -fx-border-color : #304fff/*rgba(48, 79, 255, 0.2) */!important; /***#ff8f00 !important;***/ /* material palette - cyan 400 primary light */
    -fx-border-width : 3 3 3 3 !important;
    -fx-text-fill:  #304fff !important;
}



/** KARRE ENDE **/


/* ######################################### */
/* Builder - Header */
/* ######################################### */

/* Trennlinie zwischen Header und Hauptbereich */
.header-borderpane {
    -fx-border-color : black;
    -fx-border-width : 0 0 1 0;
}


/* Bicycle Icon im Header */
.header-icon-bicycle {
    -fx-fill: black;
}
/* Titel im Header */
.header-title {
    -fx-text-fill: black;
}
/* Funktions-Buttons rechts im Header */
.header-icon-home, .header-icon-admin, .header-icon-profile, .header-icon-logout {
    -fx-fill: black;
}

.header-icon-home:hover, .header-icon-admin:hover, .header-icon-profile:hover, .header-icon-logout:hover {
    /* -fx-effect: dropshadow(blurType, color, radius, spread, offsetX, offsetY); */
    /**durch Karre entfernt!-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.4, 0.0, 0.0);**/
    -fx-scale-x: 1.2 !important;
    -fx-scale-y: 1.2 !important;
    -fx-scale-z: 1.2 !important;
}

/* ######################################### */
/* Builder - Main */
/* ######################################### */

/* Hintergrund im Hauptbereich */
.container-main-center {
    -fx-background-color: white;
}

/* Hintergrund im Footer & Trennlinie */
.container-main-bottom {
    /** aukommentiert durch karre-fx-background-color: white;**/
    -fx-border-color : black;
    -fx-border-width : 1 0 0 0;
}

/* Design der Kategorie-Buttons im Footer */
.btn-toggle-cats {
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 1px;
    -fx-border-color : #2286c3; /* material palette - blue 300 primary dark */
    -fx-border-radius: 5px;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: #2286c3; /* material palette - blue 300 primary dark */
    -jfx-untoggle-color: #42a5f5; /* material palette - blue 400 primary */
}

.btn-toggle-cats:selected {
    -fx-border-color : #6ff9ff; /* material palette - cyan 400 primary light */
}

.btn-toggle-cats:hover {
    -fx-border-color : #ffa726; /* material palette - orange 400 primary */
}

/* Trennlinie links von den Kundendaten im Footer */
.spCustomerData {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}

/* Error-Message des Validators */
.error-label {
    -fx-text-fill: #ba000d; /* material palette - red 500 primary dark */
    -fx-font-size: 10px;
    -fx-padding: 0 0 0 5px;
}

/* ######################################### */
/* Builder - Main - SVG Container */
/* ######################################### */

.spaneSVGleft {
    -fx-background-color: #cfd8dc; /* material palette - blue grey 100 primary */
}

.bpaneSVGright {
    -fx-border-color : rgba(0, 0, 0, 0.25);
    -fx-border-width : 0 0 0 1;
}

.svg-container-techinfo-header {
    -fx-border-color : rgba(0, 0, 0, 0.25);
    -fx-border-width : 0 0 1 0;
}

.svg-container-techinfo-textarea {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

/* ######################################### */
/* Builder - Sidebar */
/* ######################################### */

/* Trennlinie der Sidebar */
.container-sidebar {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}
/* Schliessen Button in allen Sidebar-Container */
.sidebar-icon-close {
    -fx-fill: #ef5350; /* material palette - red 400 primary */
}

.sidebar-icon-close:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    /*neu karre*/-fx-cursor: hand;
}
/* Titel in allen Sidebar-Container */
.label-cat-title {
    -fx-text-fill: black;
}
/* Speichern Button in allen Sidebar-Container */
.btn-sidebar-save {
    -fx-text-fill: white;
    -fx-background-color: #2196f3; /* material palette - blue 500 primary */
}

.btn-sidebar-save:hover {
    /**auskommentiert durch karre -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 0.5), 5, 0.4, 0.0, 0.0);**/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

/* ######################################### */
/* Builder - Sidebar Kategorien Allgemein */
/* ######################################### */

.btn-toggle-cat1Color1,
.btn-toggle-cat1Color2,
.btn-toggle-cat1Color3,
.btn-toggle-cat2Color1,
.btn-toggle-cat2Color2,
.btn-toggle-cat2Color3,
.btn-toggle-cat3Color1,
.btn-toggle-cat3Color2,
.btn-toggle-cat3Color3,
.btn-toggle-cat4Color1,
.btn-toggle-cat4Color2,
.btn-toggle-cat4Color3 {
    -fx-background-radius: 50%;
    -fx-background-insets: 1px;
    -fx-border-color : black;
    -fx-border-radius: 50%;
    -fx-border-width : 1 1 1 1;
}

.btn-toggle-cat1Color1:selected,
.btn-toggle-cat1Color2:selected,
.btn-toggle-cat1Color3:selected,
.btn-toggle-cat2Color1:selected,
.btn-toggle-cat2Color2:selected,
.btn-toggle-cat2Color3:selected,
.btn-toggle-cat3Color1:selected,
.btn-toggle-cat3Color2:selected,
.btn-toggle-cat3Color3:selected,
.btn-toggle-cat4Color1:selected,
.btn-toggle-cat4Color2:selected,
.btn-toggle-cat4Color3:selected {
    -fx-border-color : #76ff03; /* material palette - light green 400 A primary */
    /**auskommentiert durch karre -fx-effect: dropshadow(gaussian, rgba(118, 255, 3, .5), 5, 0.4, 0.0, 0.0);**/ /* material palette - light green 400 A primary */
}

.btn-toggle-cat1Color1:hover,
.btn-toggle-cat1Color2:hover,
.btn-toggle-cat1Color3:hover,
.btn-toggle-cat2Color1:hover,
.btn-toggle-cat2Color2:hover,
.btn-toggle-cat2Color3:hover,
.btn-toggle-cat3Color1:hover,
.btn-toggle-cat3Color2:hover,
.btn-toggle-cat3Color3:hover,
.btn-toggle-cat4Color1:hover,
.btn-toggle-cat4Color2:hover,
.btn-toggle-cat4Color3:hover {
    -fx-border-color : #ffa726; /* material palette - orange 400 primary */
}

.btn-toggle-cats-radioText {
    -fx-background-radius: 5px;
    -fx-background-insets: 1px;
    -fx-border-color : black;
    -fx-border-radius: 5px;
    -fx-border-width : 1 1 1 1;
    -jfx-toggle-color: transparent;
    -jfx-untoggle-color: transparent;
}

.btn-toggle-cats-radioText:selected {
    -fx-border-color : #76ff03; /* material palette - light green 400 A primary */
    /** auskommentiert durch karre -fx-effect: dropshadow(gaussian, rgba(118, 255, 3, .5), 5, 0.4, 0.0, 0.0); **//* material palette - light green 400 A primary */
}

.btn-toggle-cats-radioText:hover {
    -fx-border-color : #ffa726; /* material palette - orange 400 primary */
}

/* ######################################### */
/* Builder - Sidebar Kategorie 1 - Rahmen */
/* ######################################### */

.btn-toggle-cat1Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat1Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat1Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie 2 - Lenker */
/* ######################################### */

.btn-toggle-cat2Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat2Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat2Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie 3 - Räder */
/* ######################################### */

.btn-toggle-cat3Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat3Color2 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

.btn-toggle-cat3Color3 {
    -jfx-toggle-color: rgba(192, 192, 192, 1);
    -jfx-untoggle-color: rgba(192, 192, 192, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie 4 - Sattel */
/* ######################################### */

.btn-toggle-cat4Color1 {
    -jfx-toggle-color: rgba(0, 0, 0, 1);
    -jfx-untoggle-color: rgba(0, 0, 0, 0.9);
}

.btn-toggle-cat4Color2 {
    -jfx-toggle-color: rgba(75, 44, 32, 1); /* material palette - brown 500 primary dark */
    -jfx-untoggle-color: rgba(75, 44, 32, 0.9);
}

.btn-toggle-cat4Color3 {
    -jfx-toggle-color: rgba(255, 255, 255, 1);
    -jfx-untoggle-color: rgba(255, 255, 255, 0.9);
}

/* ######################################### */
/* Builder - Sidebar Kategorie Final */
/* ######################################### */

.catSidebarFinalCellLeft {
    -fx-background-color: transparent;
}

.catSidebarFinalCellHeader {
    -fx-border-color : rgba(0, 0, 0, 0.25);
    -fx-border-width : 0 0 1 0;
}