/* ###################################################################### */
/* Dashboard.css */
/* Design by Karina Szemplinska */
/* TH-Brandenburg Semesterprojekt Pattern & Frameworks Winter 2022/2023 */
/* ###################################################################### */


/** Root-Schriftgrösse **/
.apane-dashboard {
    -fx-font-size: 14px !important;
    -fx-text-fill: black !important;
}


/** Header **/
.header-borderpane {
    -fx-background-color: #ffffff;
    -fx-border-width: 10px 0px 0px 0px !important;
    -fx-border-color: #7a7cff !important;
}

.header-icon-bicycle {
    -fx-font-size: 85px !important;
    -fx-fill: black;
}

.header-title {
    -fx-text-fill: black;
}

.header-icon-home,
.header-icon-admin,
.header-icon-profile,
.header-icon-logout {
    -fx-fill: #ff8f00;
}

.header-icon-home:hover,
.header-icon-admin:hover,
.header-icon-profile:hover,
.header-icon-logout:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}


/** Buttons Standard (Nutzer und Profil) **/
.btn-standard-comp {
    -fx-text-fill: white;
    -fx-min-width: 64px;
    -fx-min-height: 36px;
    -fx-max-height: 36px;
    -fx-padding: 0px 10px 0px 10px;
    -fx-background-color: #ff8f00;
    -fx-background-radius: 50px;
    -fx-font-weight: bold;
}

.btn-standard-comp:hover,
.btn-large-comp:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-cursor: hand;
}


/** Button Konfigurator (Neue Konfiguration) **/
.btn-icon-bicycle {
    -fx-font-size: 36px !important;
}

.btn-builder {
    -fx-text-fill: white;
    -fx-background-color: #ff8f00;
    -fx-min-width: 64px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-background-radius: 50px;
    -fx-font-weight: bold;
}

.btn-builder:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-cursor: hand;
}


/** Tabelle (Übersicht Konfigurationen) **/
.table-stack {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, rgba(48, 79, 254, 0.1), rgba(255, 143, 0, 0.3));
    -fx-padding: 50px 50px 0 50px;
}

.table-view {
    -fx-background-color: white;
    -fx-background-insets: 0.0;
    -fx-padding: 0;
    -fx-background-radius: 50.0 50.0 0.0 0.0;
}

.table-view .column-header{
    -fx-background-color: #ffffff;
    -fx-size: 56.0px;
    -fx-cursor: hand;
}

.table-view .column-header-background {
    -fx-background-radius: 50.0 50.0 0.0 0.0;
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-font-size: 1.083333em;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8f00;
    -fx-padding: 5.0 5.0 5.0 5.0;
}

.table-col {
    -fx-alignment: center;
}

.table-col-id {
    -fx-background-radius: 50.0 0 0 0;
}

.table-view .filler {
    -fx-background-radius: 0 50.0 0 0;
    -fx-background-color: #ffffff;
    -fx-size: 45.0px;
    -fx-min-height: 45.0px;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0.0;
    -fx-padding: 10.0 0.0 10.0 0.0;
    -fx-pref-height: 52px;
    -fx-cell-size: 32px;
}

.table-row-cell:filled:even {
    -fx-background-color: #f2f2f2;
}

.table-row-cell:filled:odd {
    -fx-background-color: #e6e6e6;

}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgba(48, 79, 255, 0.2);
}

.table-view:row-selection .table-row-cell:filled:hover .text {
    -fx-fill: black;
}

.table-row-cell:filled:focused {
    -fx-background-color: rgba(48, 79, 255, 1);
    -fx-background-insets: 0.0;
}

.table-row-cell:filled:focused .text {
    -fx-fill: white;
}

.table-row-cell .table-column {
    -fx-border-width: 0.0;
    -fx-padding: 0 10.0 0 10.0;
}

.table-col-id,
.table-col-date,
.table-col-cust-id {
    -fx-alignment: center-right !important;
}

.table-col-customer {
    -fx-alignment: center !important;
}

.table-row-cell .text {
    -fx-font-size: 1.1em;
    -fx-fill: black;
}

.table-icon-search,
.table-icon-remove {
    -fx-fill: #ff8f00;
}

.btn-table-icon-search:hover,
.btn-table-icon-remove:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor: hand;
}


/** Controls Nutzer und Profil **/
.jfx-text-field {
    -jfx-focus-color: #304ffe;
    -jfx-unfocus-color: black;
    -fx-text-fill: black;
    -fx-pref-width: 200px;
    -fx-pref-height: 48px;
    -fx-padding: 26px 16px 2px 12px;
}

.bottombar-icon-close {
    -fx-cursor: hand;
    -fx-fill: #ff8f00;
}

.bottombar-icon-close:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}


/** Input-Felder Validierung fehlerhafte Eingabe (Nutzer und Profil) **/
.error-label {
    -fx-text-fill: red;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 0px 5px;
    -fx-pref-height: 16px;
}

.jfx-text-field:error {
    -jfx-focus-color: #ff8f00;
    -jfx-unfocus-color: red;
    -fx-pref-height: 48px;
}

.jfx-text-field .error-label {
    -fx-text-fill: red;
}


/** Schwarze Borders **/
.table-stack {
    -fx-border-color : black;
    -fx-border-width : 1 0 0 0;
}

.footer-borderpane {
    -fx-background-color: white;
    -fx-border-color : black;
    -fx-border-width : 1 0 0 0;
}

.bpAdmin, .bpProfile {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}
