/* ######################################### */
/* Dashboard - Header */
/* ######################################### */

/* Trennlinie zwischen Header und Tabelle */
.header-borderpane {
    -fx-border-color : black;
    -fx-border-width : 0 0 1 0;
}
/* Bicycle Icon im Header */
.header-icon-bicycle {
    -fx-fill: black;
}
/* Titel im Header */
.header-title {
    -fx-text-fill: black;
}
/* Funktions-Buttons rechts im Header */
.header-icon-home, .header-icon-admin, .header-icon-profile, .header-icon-logout {
    -fx-fill: black;
}

.header-icon-home:hover, .header-icon-admin:hover, .header-icon-profile:hover, .header-icon-logout:hover {
    /* -fx-effect: dropshadow(blurType, color, radius, spread, offsetX, offsetY); */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.4, 0.0, 0.0);
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

/* ######################################### */
/* Dashboard - Main Table */
/* ######################################### */

/* Zelleninhalt der Tabelle */
.table-col {
    -fx-alignment: center;
}
/* Zelleninhalt der Tabelle für Kundenname */
.table-col-customer {
    -fx-alignment: center-left;
}

/* Icons in der Aktionsspalte */
.table-icon-search {
    -fx-fill: #2196f3; /* material palette - blue 500 primary */
}

.table-icon-remove {
    -fx-fill: #ef5350; /* material palette - red 400 primary */
}

.btn-table-icon-search:hover, .btn-table-icon-remove:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

/* Zeilenhöhe abgestimmt mit Icon-Größe in der Aktionsspalte */
.table-row-cell {
    -fx-cell-size: 32px;
}

/* ######################################### */
/* Dashboard - Footer */
/* ######################################### */

/* Trennlinie zwischen Footer und Tabelle */
.footer-borderpane {
    -fx-border-color : black;
    -fx-border-width : 1 0 0 0;
}

/* Button im Footer zum Starten des Konfigurators */
.btn-builder {
    -fx-text-fill: white;
    -fx-background-color: #2196f3; /* material palette - blue 500 primary */
}

.btn-builder:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 0.5), 5, 0.4, 0.0, 0.0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

/* Trennlinie links im Footer wenn Admin- bzw Benutzerprofil aufgerufen wird */
.bpAdmin, .bpProfile {
    -fx-border-color : black;
    -fx-border-width : 0 0 0 1;
}
/* Schliessen Button im Admin- bzw Benutzerprofil */
.bottombar-icon-close {
    -fx-fill: #ef5350; /* material palette - red 400 primary */
}

.bottombar-icon-close:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

/* Error-Message des Validators */
.error-label {
    -fx-text-fill: #ba000d; /* material palette - red 500 primary dark */
    -fx-font-size: 10px;
    -fx-padding: 0 0 0 5px;
}




