/* ###################################################################### */
/* Login.css */
/* Design by Karina Szemplinska */
/* TH-Brandenburg Semesterprojekt Pattern & Frameworks Winter 2022/2023 */
/* ###################################################################### */


/** Hintergrund des Login-Fensters inkl. Root-Schriftgrösse **/
.apane {
    -fx-font-size: 14px;
    -fx-border-width: 10px 0 0 0;
    -fx-border-color: #7b7cff;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, rgba(48, 79, 254, 0.1), rgba(255, 143, 0, 0.4));
}


/** Logo Fahrrad **/
.logo {
    -fx-font-size: 85px !important;
    -fx-fill: #000000;
}

/** Input-Felder Benutzer und PW **/
.jfx-text-field {
    -jfx-focus-color: #304ffe;
    -jfx-unfocus-color: black;
    -fx-text-fill: black;
    -fx-pref-width: 280px;
    -fx-pref-height: 48px;
    -fx-padding: 26px 16px 2px 12px;
}


/** Input-Felder Validierung fehlerhafte Eingabe (Logindaten) **/
.error-label {
    -fx-text-fill: red !important;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 0px 5px;
    -fx-pref-height: 16px;
}

.jfx-text-field .error-label {
    -fx-text-fill: red;
    -fx-font-size: 10px;
    -fx-padding: 0 0 0 5px;
    -fx-pref-height: 16px;
    -fx-font-weight: bold;
}

.jfx-text-field:error {
    -jfx-focus-color: #ff8f00;
    -jfx-unfocus-color: red;
    -fx-pref-height: 48px;
}


/** Buttons Standard (Login und Abbrechen) **/
.btn-standard-comp {
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-background-color: #ff8f00;
    -fx-min-width: 64px;
    -fx-min-width: 64px;
    -fx-min-height: 36px;
    -fx-max-height: 36px;
    -fx-padding: 0px 10px 0px 10px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-standard-comp:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}
