/* ######################################### */
/* Login */
/* ######################################### */

/* Hintergrund des Login-Fensters */
.apane {
    -fx-background-color: white;
}

/* Button Design des Login-Fensters */
.btn-close, .btn-login {
    -fx-text-fill: white;
    -fx-background-color: #2196f3; /* material palette - blue 500 primary */
}

/* Hovereffekte für die Buttons des Login-Fensters */
.btn-close:hover, .btn-login:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 0.5), 5, 0.4, 0.0, 0.0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

/* Error-Message des Validators */
.error-label {
    -fx-text-fill: #ba000d; /* material palette - red 500 primary dark */
    -fx-font-size: 10px;
    -fx-padding: 0 0 0 5px;
}
